---
import BaseLayout from '../layouts/BaseLayout.astro';
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));

const pageTitle = "wow-astro-say-what-about-what";
const pageSubtitle = "AKA My Astro Learning Blog!";
---

<BaseLayout pageTitle={pageTitle} pageSubtitle={pageSubtitle}>
  <p>This is where I will post about my journey learning Astro.</p>

  <ul>
    {
      allPosts.map((post: any) => 
        <li>
          <a href={post.url}>
            {post.frontmatter.title}
          </a>
        </li>
      )
    }
  </ul>
</BaseLayout>
