---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "wow-astro-say-what-";
const pageSubtitle = "a-nice-name!";
---

<BaseLayout pageTitle={pageTitle} pageSubtitle={pageSubtitle}>
	<p>
		This is the home page of my Astro site!
	</p>

	<p>
		Astro is quite a nice name indeed, innit?
	</p>
</BaseLayout>